<!--lista de componentes-->
<div class="row d-md-flex d-none justify-content-center mt-5">
  <div class="col-lg-10">
    <div class="row d-flex justify-content-center">
      <div class="card col-lg-2 mx-1" *ngFor="let listCompo of arregloComponentes" routerLink="{{listCompo.Ruta}}">
        <div class="card-body my-2">
          <h2 class="text-center my-4"><i class={{listCompo.Icono}}></i></h2>
          <h6 class="card-title text-center">{{listCompo.NombreComponente}}</h6>
        </div>
      </div>

      <div class="card col-lg-2 mx-1" routerLink="/inicio">
        <div class="card-body my-2">
          <h2 class="text-center my-4"><i class="fas fa-times"></i></h2>
          <h6 class="card-title text-center">Salir</h6>
        </div>
      </div>
    </div>
  </div>
</div>


<!--pantallas celular-->
<div class="row d-flex d-md-none justify-content-center mt-5">
  <div class="d-flex justify-content-center my-5">
    <img class="col-10" src="../../../assets/images/marco.svg">
  </div>

  <div class="col-10">
    <div class="row d-flex justify-content-center">
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action my-1" *ngFor="let listCompo of arregloComponentes; let i = index;" routerLink="{{listCompo.Ruta}}" style="background-color: #FF0B13; color: white;">
          <h3>{{listCompo.NombreComponente}}</h3>
        </button>
        <button type="button" class="list-group-item list-group-item-action" routerLink="/inicio" style="background-color: #FF0B13; color: white;">
          <h3>Salir</h3>
        </button>
      </div>
    </div>
  </div>
</div>
