<div class="row justify-content-center justify-content-md-center mt-3">
  <div class="card col-11 col-lg-6 p-3 shadow">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-10 col-10">
          <h4 class="card-title">{{titulo}}</h4>
        </div>
        <!--<div class="col-lg-2 col-2">
          <button type="button" id="btnRedondoE" class="btn btn-primary shadow mx-1" (click)="Nuevo()"><h2 class="my-0"><i class="fas fa-plus"></i></h2></button>
        </div>-->
      </div>

      <hr />
      <div class="justify-content-md-center mt-3">
        <div class="row">
          <div class="col-12 col-lg-6 mt-1">
            <label class="form-label-sm">buscar nombre</label>
            <div class="input-group">
              <input type="text" class="form-control form-control-sm text-center col-lg-8" placeholder="nombre" [(ngModel)]="NombreBuscar" (keyup)="KeyUpNombreBuscar()">
              <button class="btn btn-outline-secondary" type="button" id="button-addon1" (click)="KeyUpNombreBuscar()"><i class="fas fa-search"></i></button>
            </div>
          </div>


          <div class="col-12 col-lg-6 mt-1">
            <label class="form-label-sm">estado de solicitud</label>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" (click)="BuscarTodos()" [(ngModel)]="busqueda">
              <label class="form-check-label" for="flexSwitchCheckDefault">Todos</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-lg-12 mt-3 d-none d-md-block">
            <div class="table-responsive">
              <table class="table table-sm">
                <thead>
                  <tr>
                    <th scope="col" class="text-center">Fecha</th>
                    <th scope="col" class="text-center">#Recibido</th>
                    <th scope="col" class="text-center">Nombre</th>
                    <th scope="col" class="text-center">Estado</th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngIf="spinH">
                    <td class="text-center"><span class="spinner-border spinner-border-sm"></span></td>
                    <td class="text-center"><span class="spinner-border spinner-border-sm"></span></td>
                    <td class="text-center"><span class="spinner-border spinner-border-sm"></span></td>
                    <td class="text-center"><span class="spinner-border spinner-border-sm"></span></td>
                  </tr>


                  <tr *ngFor="let item of listaHistorialTramites; let i = index;" [ngClass]="item.css" data-bs-toggle="modal" data-bs-target="#opcion" (click)="Seleccion(item)">
                    <td class="text-center">{{item.Fecha | date: 'medium'}}</td>
                    <td class="text-center">{{item.IdTramite}}</td>
                    <td class="text-center">{{item.Nombre}}</td>
                    <td class="text-center">{{item.NombreEstado}}</td>
                    <td class="text-center"><span [ngClass]="item.spin"></span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!--para movil-->
          <div class="row justify-content-center mt-3 d-md-none d-flex">
            <ul *ngIf="spinH" class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="spinner-grow text-primary" role="status">
                  <span class="visually-hidden"></span>
                </div>
              </li>
            </ul>
            <ul class="list-group list-group-flush" *ngFor="let item of listaHistorialTramites; let i = index;">
              <li *ngIf="!spinH" class="list-group-item">
                <div class="row">
                  <button type="button" [ngClass]="item.css2" (click)="Seleccion(item)" data-bs-toggle="modal" data-bs-target="#opcion" aria-current="true">
                    <div class="row">
                      <div class="col-2">
                        <h2><span *ngIf="spinI" class="spinner-border spinner-border-sm"></span></h2>
                        <h2><i *ngIf="!spinI" class="fa-solid fa-arrow-pointer" style="color:var(--secondary);"></i></h2>
                      </div>
                      <div class="col-10">
                        <label class="form-check-label" for="flexSwitchCheckDefault"><h5>{{item.NombreSolicitud}}</h5></label>
                        <p class="h6">Nombre: {{item.Nombre}}</p>
                        <p class="h6">Estado: {{item.NombreEstado}}</p>
                        <p class="h6">Fecha: {{item.Fecha | date: 'medium'}}</p>
                      </div>
                    </div>
                  </button>
                </div>
              </li>
            </ul>
          </div>

          <div class="class=col-12 col-lg-12 my-2">
            <div class="btn-group col-12 col-lg-12 mx-auto mt-3" role="group">
              <button type="button" class="btn btn-primary" (click)="Salir()">
                <i class="fas fa-times"></i> Salir
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--MODAL PARA EJECUTAR ACCION-->
<div class="modal fade" id="opcion" tabindex="" role="dialog">
  <div class="modal-sm modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Seleccione</h6>
        <button type="button" class="btn-close" #cerrarModal data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <a class="list-group-item list-group-item-action list-group-item-light" (click)="Enviar()" data-bs-dismiss="modal">Resolver</a>
        </div>
        <div class="list-group">
          <a class="list-group-item list-group-item-action list-group-item-light" (click)="Enviar()" data-bs-dismiss="modal">Editar</a>
        </div>
        <div class="list-group">
          <a class="list-group-item list-group-item-action list-group-item-light" (click)="Imprimir()" data-bs-dismiss="modal">Imprimir</a>
        </div>
      </div>
    </div>
  </div>
</div>
