<div *ngIf="mostrar" class="row justify-content-md-center justify-content-center mt-3">
  <div class="card col-11 col-lg-4 p-3 shadow">

    <div class="card-body">
      <div class="row">
        <h4 class="card-title">{{miTitulo}}</h4>
      </div>

      <hr />
      <div class="justify-content-md-center mt-3">
        <form [formGroup]="form" (ngSubmit)="save($event)">
         
          <div class="row">
            <div class="form-floating">
              <select class="form-select" formControlName="IdSolicitud" id="floatingSelect" (change)="cargarForma(form.get('IdSolicitud').value)">
                <option *ngIf="!spinS" value='0'>Seleccione..</option>
                <option *ngIf="spinS" value='0'>cargando datos..</option>
                <option *ngFor="let list of listaSolicitud;let i = index;" value={{list.IdSolicitud}}>{{list.NombreSolicitud}}</option>
              </select>
              <label class="mx-2" for="floatingSelect">tipo de certificado</label>
            </div>

              <div class="form-floating my-1">
                <input type="text" formControlName="nombre" class="form-control" id="floatingInput" placeholder="nombre solicitante">
                <label *ngIf="form.get('nombre').untouched || form.get('nombre').valid" class="mx-2" for="floatingInput">nombre solicitante</label>
                <label *ngIf="form.get('nombre').errors && form.get('nombre').touched" class="mx-2" for="floatingInput" style="color:red"><i class="fa-solid fa-triangle-exclamation"></i> ingresar nombre</label>
              </div>
              
          
              <div class="form-floating">
                <input type="number" formControlName="cedula" class="form-control col-lg-12" id="floatingInput" placeholder="identificacion del solicitante">
                <label *ngIf="form.get('cedula').untouched || form.get('cedula').valid" class="mx-2" for="floatingInput">identificacion del solicitante</label>
                <label *ngIf="form.get('cedula').errors && form.get('cedula').touched" class="mx-2" for="floatingInput" style="color:red"><i class="fa-solid fa-triangle-exclamation"></i> ingresar identificacion</label>
              </div>

              <div class="form-floating my-1">
                <input type="text" formControlName="direccion" class="form-control col-lg-12" id="floatingInput" placeholder="dirección del predio">
                <label *ngIf="form.get('direccion').untouched || form.get('direccion').valid" class="mx-2" for="floatingInput">dirección del predio</label>
                <label *ngIf="form.get('direccion').errors && form.get('direccion').touched" class="mx-2" for="floatingInput" style="color:red"><i class="fa-solid fa-triangle-exclamation"></i> ingresar dirección predio</label>
              </div>

              <div class="form-floating">
                <input type="number" formControlName="telefono" class="form-control col-lg-12" id="floatingInput" placeholder="teléfono">
                <label *ngIf="form.get('telefono').untouched || form.get('telefono').valid" class="mx-2" for="floatingInput">teléfono</label>
                <label *ngIf="form.get('telefono').errors && form.get('telefono').touched" class="mx-2" for="floatingInput" style="color:red"><i class="fa-solid fa-triangle-exclamation"></i> ingresar teléfono</label>
              </div>


            <div class="form-floating my-1">
              <input type="email" formControlName="correo" class="form-control col-lg-12" id="floatingInput" placeholder="opcional correo">
              <label class="mx-2" for="floatingInput">correo</label>
            </div>


            <div class="form-floating">
              <input type="text" formControlName="catastral" class="form-control col-lg-12" id="floatingInput" placeholder="número catastral del predio">
              <label *ngIf="form.get('catastral').untouched || form.get('catastral').valid" class="mx-2" for="floatingInput">Número catastral del predio</label>
              <label *ngIf="form.get('catastral').errors && form.get('catastral').touched" class="mx-2" for="floatingInput" style="color:red"><i class="fa-solid fa-triangle-exclamation"></i> ingresar número catastral</label>
            </div>
            <div *ngIf="form.get('catastral').errors && form.get('catastral').touched" class="col-lg-12" style="color:red">
              <span id="error" class="help-block">Debe ingresar 20 o 30 caracteres - solo números</span>
            </div>

            <div class="class=col-12 col-lg-12 my-2 d-flex flex-row-reverse">
              <div class="btn-group col-12 mx-auto" role="group">
                <button type="button" class="btn btn-primary" routerLink="/inicio"><i class="fas fa-times"></i> Cancelar</button>
                <button type="submit" [disabled]="form.invalid" class="btn btn-primary">
                  <span *ngIf="spinG" class="spinner-border spinner-border-sm"></span>
                  <i *ngIf="!spinG" class="fas fa-check"></i> Guardar
                </button>
              </div>
            </div>
          </div>
        </form>


      </div>
    </div>
  </div>
</div>



<div *ngIf="!mostrar" class="row justify-content-md-center mt-5">
  <div class="card col-12 col-lg-3 p-3 shadow">
    <!--<img src="..." class="card-img-top" alt="...">-->
    <div class="card-body">
      <h5 class="card-title">Mensaje</h5>
      <p class="card-text">Estimado usuario, su solicitud ha sido enviada con exito; puede ingresar a la ventana de MIS TRÁMITES para hacer seguimiento
                           a su petición, o descargar esta solicitud y radicarla en la venta única de la alcaldía con el respectivo pago.</p>
      <a href="#" class="btn btn-primary" routerLink="/inicio">Entendido</a>
    </div>
  </div>
</div>



























<!--<div *ngIf="!solicitudes" class="row justify-content-md-center mt-3">
  <div class="card col-sm-1 col-lg-6 p-4 shadow">

    <div class="card-body">
      <h4 class="card-title">{{Titulo}}</h4>
      <hr />
      <div class="justify-content-md-center mt-3">
        <div class="row">

          <div class="col-sm-12 my-1 input-group">
            <span class="input-group-text col-sm-4">Fecha</span>
            <input type="datetime-local" class="form-control text-center col-sm-8" [(ngModel)]="fecha" disabled>
          </div>

          <div class="col-sm-12 my-1 input-group">
            <span class="input-group-text col-sm-4">Nombre del solicitante</span>
            <input type="text" class="form-control text-center col-sm-8" placeholder="ingresar" [(ngModel)]="objRadicado.NombreCompleto">
          </div>

          <div class="col-sm-12 my-1 input-group">
            <span class="input-group-text col-sm-4">Cédula del solicitante</span>
            <input type="text" class="form-control text-center col-sm-8" placeholder="ingresar" [(ngModel)]="objRadicado.Cedula">
          </div>

          <div *ngIf="bandera" class="col-sm-12 my-1 input-group">
            <span class="input-group-text col-sm-4">Dirección</span>
            <input type="text" class="form-control text-center col-sm-8" placeholder="ingresar" [(ngModel)]="objRadicado.Direccion">
          </div>

          <div class="col-sm-12 my-1 input-group">
            <span class="input-group-text col-sm-4">Teléfono</span>
            <input type="text" class="form-control text-center col-sm-8" placeholder="ingresar" [(ngModel)]="objRadicado.Telefono">
          </div>

          <div class="col-sm-12 my-1 input-group">
            <span class="input-group-text col-sm-4">Número Catastral del predio</span>
            <input type="text" class="form-control text-center col-sm-8" placeholder="ingresar" [(ngModel)]="objRadicado.NumeroCatastro" (focus)="Codigo()" (keyup)="verifica()">
          </div>
          <div class="col-sm-4">
          </div>
          <div *ngIf="E_catastro" class="col-sm-8" style="color:red">
            <span id="error" class="help-block">Debe ingresar de 15 o 20 caracteres</span>
          </div>

          <div class="col-sm-12 my-1 input-group">
            <span class="input-group-text col-sm-4">Concepto</span>
            <input type="text" class="form-control text-center col-sm-8" placeholder="ingresar" [(ngModel)]="objRadicado.Concepto" disabled>
          </div>


        </div>
        <div class="class=col-sm-12 my-1 d-flex flex-row-reverse">
          <div class="btn-group col-sm-12 px-0">
            <button type="button" class="btn btn-primary" (click)="Volver()"><i class="fas fa-arrow-left"></i> Volver</button>
            <button type="button" class="btn btn-primary" (click)="Guardar()">
              <span *ngIf="spinG" class="spinner-border spinner-border-sm"></span>
              <i *ngIf="!spinG" class="fas fa-check"></i> Enviar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
<!--ventana para visualizar lista de solicitudes-->
<!--<div *ngIf="solicitudes" class="row justify-content-md-center mt-3">
  <div class="card col-sm-6 col-lg-10 p-3 shadow">

    <div class="card-body">
      <div class="row">
        <button type="button" id="btnRedondo" class="btn btn-primary shadow mx-1" (click)="Volver()"><i class="fas fa-arrow-left"></i></button>
        <h4 class="card-title">{{Titulo}} : {{nombre}}</h4>
      </div>

      <hr />
      <div class="justify-content-md-center mt-3">
        <div class="row">


          <div class="col-sm-6 my-1 input-group">
            <span class="input-group-text col-sm-4">Cédula</span>
            <input type="text" class="form-control text-center col-sm-8" placeholder="Cédula del solicitante" [(ngModel)]="Cedula">
          </div>

          <div class="col-sm-6 my-1 input-group">
            <span class="input-group-text col-sm-4">Desde</span>
            <input type="date" class="form-control text-center col-sm-8" [(ngModel)]="FechaInicial">
          </div>

          <div class="col-sm-6 my-1 input-group">
            <button type="button" class="btn btn-primary btn-block" (click)="BuscarListaRadicado()"><i class="fas fa-search"></i> Buscar</button>
          </div>

          <div class="col-sm-6 my-1 input-group">
            <span class="input-group-text col-sm-4">Hasta</span>
            <input type="date" class="form-control text-center col-sm-8" [(ngModel)]="FechaFinal">
          </div>
        </div>

        <div class="justify-content-md-center mt-3">
          <div class="row">


            <div class="col-sm-12 mt-3">
              <div class="table-responsive">
                <table id="" class="table table-striped table-bordered table-sm">
                  <thead class="tablaCabeza" id="">
                    <tr>
                      <th class="text-center">Fecha</th>
                      <th class="text-center">Solicitud</th>
                      <th class="text-center">Estado</th>
                      <th class="text-center"><i class="fas fa-cloud-download-alt"></i></th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr *ngIf="spinR">
                      <td class="text-center"><span class="spinner-border spinner-border-sm"></span></td>
                      <td class="text-center"><span class="spinner-border spinner-border-sm"></span></td>
                      <td class="text-center"><span class="spinner-border spinner-border-sm"></span></td>
                      <td class="text-center"><span class="spinner-border spinner-border-sm"></span></td>
                    </tr>


                    <tr *ngFor="let item of listaRadicado; let i = index;">
                      <td class="text-center">{{item.Fecha | date: 'medium'}}</td>
                      <td class="text-center">{{item.NombreSolicitud}}</td>
                      <td class="text-center">{{item.NombreEstado}}</td>
                      <td class="text-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-primary" id="btnt" data-toggle="modal" data-target="#ModalBorrar" (click)="SeleccionB(i)"><i class="fas fa-cloud-download-alt"></i></button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>-->
<!--mensaje de radicado-->
<div class="modal fade" id="Mensaje" tabindex="-1" role="dialog" #content>
  <div class="modal-dialog modal modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Mensaje</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Estimado usuario: Su solicitud ha sido enviada con exito, puede hacer seguimiento de su petición en la ventana de Mis Trámites durante los próximos 5 días hábiles  para reclamar en la oficina,
           recuerde presentar su pago para retirar en oficina o radicar en ventanilla única. 
        </p>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>-->
        <button type="button" class="btn btn-primary" (click)="Volver()" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
