
<img class="d-none d-md-block" id="marco" src="../../../assets/images/marco.svg">


<img id="circulo1" src="../../../assets/images/circulo1.svg">

<div *ngIf="mostrar" class="row d-flex justify-content-center px-2" id="titulo">
  <div class="d-flex justify-content-center">
    <div class="col-md-6">

      <!--para PC-->
      <div class="row d-none d-md-block">
        <div class="row">
          <div class="col-md-2 d-md-flex justify-content-md-end">
              <img src="../../../assets/images/bandera_redo.svg" class="px-0" id="bandera_m">
          </div>
          <div class="col-md-10">
            <h1 id="titulo_sec">Secretaría de Control Urbano y Vivienda</h1>
            <h1 id="titulo_al">Alcaldía de Chinácota</h1>
          </div>
        </div>
        
      </div>

      <!--para movil-->
      <div class="row d-md-none">
        <div class="text-center col-md-11">
          <h2 id="titulo_sec_m">Secretaría de Control Urbano y Vivienda</h2>
        </div>
        <div class="d-flex justify-content-center mt-3">
          <img class="col-6" src="../../../assets/images/marco.svg">
        </div>
      </div>
    </div>
  </div>
</div>





<div *ngIf="mostrar" class="row  d-flex justify-content-center">
  <div class="d-flex justify-content-center">
    <div class="col-sm-1 col-md-3 my-5">
      

      <!--para PC-->
      <div class="d-none d-md-block">
        <h1 id="titulo_sec">Nuestros servicios:</h1>
        <div class="row mt-3">
          <div class="col-md-6">
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-outline-primary btn-lg" >
                <h3><i class="fas fa-user-circle"></i> Mis Trámites</h3>
              </button>
            </div>
          </div>

          <div class="col-sm-1 col-md-6">
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-outline-primary btn-lg" routerLink="/requisitos">
                <h3><i class="fa-solid fa-file-lines"></i> Requisitos</h3>
              </button>
            </div>
          </div>

          <div class="col-sm-1 col-md-6 mt-3">
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-outline-primary btn-lg">
                <h3><i class="fa-solid fa-question"></i> Consultas</h3>
              </button>
            </div>
          </div>
        </div>
      </div>
      

      <!--para movil-->
      <div class="row d-md-none d-flex justify-content-center mt-2">
        <div class="col-10">
          <h3>Nuestros servicios:</h3>
        </div>
        
        <div class="col-10 mt-2">
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-primary btn-lg">
              <h3><i class="fas fa-user-circle"></i> Mis Trámites</h3>
            </button>
          </div>
        </div>

        <div class="col-10 my-3">
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-primary btn-lg" routerLink="/requisitos">
              <h3><i class="fa-solid fa-file-lines"></i> Requisitos</h3>
            </button>
          </div>
        </div>

        <div class="col-10">
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-primary btn-lg">
              <h3><i class="fa-solid fa-question"></i> Consultas</h3>
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>




<!--<div  class="row my-5">
  <div class="col-lg-6 col-md-6">
    <img id="marco" class="img-fluid" src="../../../assets/images/marco.svg">
  </div>

  <div  class="col-lg-6 col-md-6">
    <img id="circulo1" class="img-fluid" src="../../../assets/images/circulo1.svg">
  </div>

</div>-->
<!--<div *ngIf="mostrar" class="row my-5 d-flex justify-content-center">
  <div class="col-lg-12 col-sm-7 text-center">
    <h1>Alcaldia de Chinácota</h1>
  </div>


</div>

<div *ngIf="mostrar" class="row my-5 d-flex justify-content-center">
  <img id="marco" class="img-fluid" src="../../../assets/images/marco.png">
</div>

<div *ngIf="mostrar" class="row my-1 d-flex justify-content-center">
  <div class="col-lg-12 col-sm-6 text-center">
    <h2>Secretaría de Control Urbano y Vivienda</h2>
  </div>
</div>

<div *ngIf="mostrar" class="row d-flex justify-content-center">
  <div class="row text-center m-4">
    <div class="col-md-1 col-lg-3">
      <div class="card shadow">
        <div class="card-header shadow-sm">
          <h1><i class="far fa-smile"></i></h1>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">Mi Perfil</h5>
          <p class="card-text">
            Ingresar para visualizar lista de solicitudes.
          </p>
          <div>
            <button type="button" class="btn btn-primary btn-block" id="btnt" (click)="MiPerfil()"><i class="fas fa-check"></i> Entrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center m-4">
    <div class="col-md-1 col-lg-3">
      <div class="card shadow">
        <div class="card-header shadow-sm">
          <h1><i class="fab fa-envira"></i></h1>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">Certificado uso de suelo</h5>
          <p class="card-text">
            Emite el concepto del uso de suelo de acuerto
            al esquema de ordenamiento territorial (EOT)
            del municipio de Chinácota.
          </p>
          <div>
            <button type="button" class="btn btn-primary btn-block" id="btnt" (click)="UsoSuelo()"><i class="fas fa-check"></i> Solicitar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center m-4">
    <div class="col-md-1 col-lg-3">
      <div class="card shadow">
        <div class="card-header shadow-sm">
          <h1><i class="fas fa-flag-checkered"></i></h1>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">Certificado de nomenclatura</h5>
          <p class="card-text">
            Especifica la dirección del predio según
            el Instituto Geográfico Agustín Codazzi (IGAC)
          </p>
          <div>
            <button type="button" class="btn btn-primary btn-block" id="btnt" (click)="Nomenclatura()"><i class="fas fa-check"></i> Solicitar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center m-4">
    <div class="col-md-1 col-lg-3">
      <div class="card shadow">
        <div class="card-header shadow-sm">
          <h1><i class="fas fa-hiking"></i></h1>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">Certificado de distancia</h5>
          <p class="card-text">
            Indica la distancia del negocio al instituto esducativo
            mas cercano, especialmente para venta de licores.
          </p>
          <div>
            <button type="button" class="btn btn-primary btn-block" id="btnt" (click)="Distancia()"><i class="fas fa-check"></i> Solicitar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
<!--cuerpo de presentacion-->
<!--<div *ngIf="!mostrar" class="row justify-content-md-center mt-3">
  <app-certificados (Notificacion)="RecibeNotificacion($event)" [Titulo]="titulo"></app-certificados>
</div>-->
