
<div class="row d-md-flex justify-content-md-center d-flex justify-content-center align-items-center mt-5">
  <div class="col-12 col-md-9 col-xl-10 text-center">
    <div class="row d-md-flex justify-content-md-center d-flex justify-content-center align-items-center">

      <!--<div class="col-12 col-md-3 col-lg-3 d-md-flex justify-content-md-center d-flex justify-content-center align-items-center m-2">
    <a href="../../../assets/images/casa.svg" class="btn btn-default d-md-flex justify-content-md-center d-flex justify-content-center align-items-center" target="_blank" download="casa.svg">
      <div class="row">
        <div class="col-12 col-md-12  d-md-flex justify-content-md-center d-flex justify-content-center align-items-center">
          <div class="col-md-12">
            <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
              <img src="../../../assets/images/casa.svg">
            </div>
            <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
              <h2 class="card-title text-center">Construcción</h2>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>-->

      <div class="col-5 col-md-2 col-lg-2 d-md-flex justify-content-md-center d-flex justify-content-center align-items-center m-1">
        <button type="button" class="btn btn-default d-md-flex justify-content-md-center d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#Rconstru">
          <div class="row">
            <div class="col-12 col-md-12  d-md-flex justify-content-md-center d-flex justify-content-center align-items-center">
              <div class="col-md-12">
                <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                  <img src="../../../assets/images/casa.svg">
                </div>
                <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                  <h5 class="card-title text-center">Construcción</h5>
                </div>
              </div>
            </div>
          </div>
        </button>
      </div>

      <div class="col-5 col-md-2 col-lg-2 d-md-flex justify-content-md-center d-flex justify-content-center align-items-center m-1">
        <button type="button" class="btn btn-default d-md-flex justify-content-md-center d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#Rreco">
          <div class="row">
            <div class="col-12 col-md-12  d-md-flex justify-content-md-center d-flex justify-content-center align-items-center">
              <div class="col-md-12">
                <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                  <img src="../../../assets/images/casa_reco.svg">
                </div>
                <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                  <h6 class="card-title text-center">Reconocimiento construcción</h6>
                </div>
              </div>
            </div>
          </div>
        </button>
      </div>

      <div class="col-5 col-md-2 col-lg-2 d-md-flex justify-content-md-center d-flex justify-content-center align-items-center m-1">
        <button type="button" class="btn btn-default d-md-flex justify-content-md-center d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#Rsub">
          <div class="row">
            <div class="col-12 col-md-12  d-md-flex justify-content-md-center d-flex justify-content-center align-items-center">
              <div class="col-md-12">
                <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                  <img src="../../../assets/images/grid3x3.svg">
                </div>
                <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                  <h5 class="card-title text-center">Subdivisión urbana</h5>
                </div>
              </div>
            </div>
          </div>
        </button>
      </div>

      <div class="col-5 col-md-2 col-lg-2 d-md-flex justify-content-md-center d-flex justify-content-center align-items-center m-1">
        <button type="button" class="btn btn-default d-md-flex justify-content-md-center d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#Rsubr">
          <div class="row">
            <div class="col-12 col-md-12  d-md-flex justify-content-md-center d-flex justify-content-center align-items-center">
              <div class="col-md-12">
                <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                  <img src="../../../assets/images/grid3x3.svg">
                </div>
                <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                  <h5 class="card-title text-center">Subdivisión rural</h5>
                </div>
              </div>
            </div>
          </div>
        </button>
      </div>

      <div class="col-5 col-md-2 col-lg-2 d-md-flex justify-content-md-center d-flex justify-content-center align-items-center m-1">
        <button type="button" class="btn btn-default d-md-flex justify-content-md-center d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#Rrelo">
          <div class="row">
            <div class="col-12 col-md-12  d-md-flex justify-content-md-center d-flex justify-content-center align-items-center">
              <div class="col-md-12">
                <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                  <img src="../../../assets/images/grid3x3.svg">
                </div>
                <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                  <h5 class="card-title text-center">Reloteo</h5>
                </div>
              </div>
            </div>
          </div>
        </button>
      </div>

      <div class="col-5 col-md-2 col-lg-2 d-md-flex justify-content-md-center d-flex justify-content-center align-items-center m-1">
        <button type="button" class="btn btn-default d-md-flex justify-content-md-center d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#Rph">
          <div class="row">
            <div class="col-12 col-md-12  d-md-flex justify-content-md-center d-flex justify-content-center align-items-center">
              <div class="col-md-12">
                <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                  <img src="../../../assets/images/ph.svg">
                </div>
                <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                  <h5 class="card-title text-center">Propiedad horizontal</h5>
                </div>
              </div>
            </div>
          </div>
        </button>
      </div>

      <div class="col-5 col-md-2 col-lg-2 d-md-flex justify-content-md-center d-flex justify-content-center align-items-center m-1">
        <button type="button" class="btn btn-default d-md-flex justify-content-md-center d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#Rint">
          <div class="row">
            <div class="col-12 col-md-12  d-md-flex justify-content-md-center d-flex justify-content-center align-items-center">
              <div class="col-md-12">
                <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                  <img src="../../../assets/images/ruler.svg">
                </div>
                <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                  <h5 class="card-title text-center">Intervencion espacio</h5>
                </div>
              </div>
            </div>
          </div>
        </button>
      </div>

      <div class="col-5 col-md-2 col-lg-2 d-md-flex justify-content-md-center d-flex justify-content-center align-items-center m-1">
        <button type="button" class="btn btn-default d-md-flex justify-content-md-center d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#Rurb">
          <div class="row">
            <div class="col-12 col-md-12  d-md-flex justify-content-md-center d-flex justify-content-center align-items-center">
              <div class="col-md-12">
                <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                  <img src="../../../assets/images/bank.svg">
                </div>
                <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                  <h5 class="card-title text-center">Urbanismo</h5>
                </div>
              </div>
            </div>
          </div>
        </button>
      </div>

      <div class="col-5 col-md-2 col-lg-2 d-md-flex justify-content-md-center d-flex justify-content-center align-items-center m-1">
        <button type="button" class="btn btn-default d-md-flex justify-content-md-center d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#Rparce">
          <div class="row">
            <div class="col-12 col-md-12  d-md-flex justify-content-md-center d-flex justify-content-center align-items-center">
              <div class="col-md-12">
                <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                  <img src="../../../assets/images/bank.svg">
                </div>
                <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                  <h5 class="card-title text-center">Parcelación</h5>
                </div>
              </div>
            </div>
          </div>
        </button>
      </div>

      <div class="col-5 col-md-2 col-lg-2 d-md-flex justify-content-md-center d-flex justify-content-center align-items-center m-1">
        <button type="button" class="btn btn-default d-md-flex justify-content-md-center d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#Rmt">
          <div class="row">
            <div class="col-12 col-md-12  d-md-flex justify-content-md-center d-flex justify-content-center align-items-center">
              <div class="col-md-12">
                <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                  <img src="../../../assets/images/tractor.svg">
                </div>
                <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                  <h5 class="card-title text-center">Movimiento de tierras</h5>
                </div>
              </div>
            </div>
          </div>
        </button>
      </div>

      <div class="col-5 col-md-2 col-lg-2 d-md-flex justify-content-md-center d-flex justify-content-center align-items-center m-1">
        <button type="button" class="btn btn-default d-md-flex justify-content-md-center d-flex justify-content-center align-items-center" data-bs-toggle="modal" data-bs-target="#Rocupa">
          <div class="row">
            <div class="col-12 col-md-12  d-md-flex justify-content-md-center d-flex justify-content-center align-items-center">
              <div class="col-md-12">
                <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                  <img src="../../../assets/images/passport.svg">
                </div>
                <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                  <h5 class="card-title text-center">Certificado ocupación</h5>
                </div>
              </div>
            </div>
          </div>
        </button>
      </div>


      <div class="col-5 col-md-2 col-lg-2 d-md-flex justify-content-md-center d-flex justify-content-center align-items-center m-1">
        <button type="button" id="btn2" class="btn btn-default d-md-flex justify-content-md-center d-flex justify-content-center align-items-center" routerLink="/inicio">
          <div class="row">
            <div class="col-12 col-md-12  d-md-flex justify-content-md-center d-flex justify-content-center align-items-center">
              <div class="col-md-12">
                <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center my-2">
                  <h3><i class="fa-solid fa-house"></i></h3>
                </div>
                <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                  <h5 >Salir</h5>
                </div>
              </div>
            </div>
          </div>
        </button>
      </div>



    </div>
  </div>
</div>




<!--LISTA DE MODALES DE REQUISITOS-->
<div class="modal fade" id="Rconstru" tabindex="-1" role="dialog">
  <div class="modal-sm modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Contrucción</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <a href="../../../assets/documentos/requisitos_const.pdf" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="requisitos_const.pdf">Requisitos</a>
          <a href="../../../assets/documentos/formulario_unico.pdf" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="formulario_unico.pdf">Formulario único</a>
          <a href="../../../assets/documentos/notificacion_vecinos.pdf" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="notificacion_vecinos.pdf">Notificación vecinos</a>
          <a href="../../../assets/documentos/valla_amarilla.jpg" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="valla_amarilla.jpg">Valla amarilla</a>
          <a href="../../../assets/documentos/valla_blanca.jpg" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="valla_blanca.jpg">Valla blanca</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Rreco" tabindex="-1" role="dialog">
  <div class="modal-sm modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Reconocimiento de contrucción</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <a href="../../../assets/documentos/requisitos_reco.pdf" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="requisitos_reco.pdf">Requisitos</a>
          <a href="../../../assets/documentos/formulario_unico.pdf" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="formulario_unico.pdf">Formulario único</a>
          <a href="../../../assets/documentos/peritaje_recono.pdf" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="peritaje_recono.pdf">Peritaje técnico</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Rsub" tabindex="-1" role="dialog">
  <div class="modal-sm modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Subdivisión urbana</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <a href="../../../assets/documentos/requisitos_sub.pdf" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="requisitos_sub.pdf">Requisitos</a>
          <a href="../../../assets/documentos/formulario_unico.pdf" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="formulario_unico.pdf">Formulario único</a>
          <a href="../../../assets/documentos/valla_amarilla.jpg" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="valla_amarilla.jpg">Valla amarilla</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Rsubr" tabindex="-1" role="dialog">
  <div class="modal-sm modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Subdivisión rural</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <a href="../../../assets/documentos/requisitos_sub.pdf" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="requisitos_sub.pdf">Requisitos</a>
          <a href="../../../assets/documentos/formulario_unico.pdf" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="formulario_unico.pdf">Formulario único</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Rrelo" tabindex="-1" role="dialog">
  <div class="modal-sm modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Reloteo</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <a href="../../../assets/documentos/requisitos_relo.pdf" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="requisitos_relo.pdf">Requisitos</a>
          <a href="../../../assets/documentos/formulario_unico.pdf" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="formulario_unico.pdf">Formulario único</a>
          <a href="../../../assets/documentos/valla_amarilla.jpg" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="valla_amarilla.jpg">Valla amarilla</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Rph" tabindex="-1" role="dialog">
  <div class="modal-sm modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Propiedad horizontal</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <a href="../../../assets/documentos/requisitos_ph.pdf" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="requisitos_ph.pdf">Requisitos</a>
          <a href="../../../assets/documentos/formulario_unico.pdf" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="formulario_unico.pdf">Formulario único</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="Rint" tabindex="-1" role="dialog">
  <div class="modal-sm modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Intervención de espacio público</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <a href="../../../assets/documentos/requisitos_int.pdf" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="requisitos_int.pdf">Requisitos</a>
          <a href="../../../assets/documentos/formulario_unico.pdf" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="formulario_unico.pdf">Formulario único</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Rurb" tabindex="-1" role="dialog">
  <div class="modal-sm modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Urbanismo</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <a href="../../../assets/documentos/requisitos_urb.pdf" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="requisitos_urb.pdf">Requisitos</a>
          <a href="../../../assets/documentos/formulario_unico.pdf" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="formulario_unico.pdf">Formulario único</a>
          <a href="../../../assets/documentos/notificacion_vecinos.pdf" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="notificacion_vecinos.pdf">Notificación vecinos</a>
          <a href="../../../assets/documentos/valla_amarilla.jpg" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="valla_amarilla.jpg">Valla amarilla</a>
          <a href="../../../assets/documentos/valla_blanca.jpg" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="valla_blanca.jpg">Valla blanca</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="Rparce" tabindex="-1" role="dialog">
  <div class="modal-sm modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Parcelación</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <a href="../../../assets/documentos/requisitos_parce.pdf" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="requisitos_parce.pdf">Requisitos</a>
          <a href="../../../assets/documentos/formulario_unico.pdf" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="formulario_unico.pdf">Formulario único</a>
          <a href="../../../assets/documentos/notificacion_vecinos.pdf" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="notificacion_vecinos.pdf">Notificación vecinos</a>
          <a href="../../../assets/documentos/valla_amarilla.jpg" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="valla_amarilla.jpg">Valla amarilla</a>
          <a href="../../../assets/documentos/valla_blanca.jpg" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="valla_blanca.jpg">Valla blanca</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Rmt" tabindex="-1" role="dialog">
  <div class="modal-sm modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Movimiento de tierras</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <a href="../../../assets/documentos/requisitos_mt.pdf" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="requisitos_mt.pdf">Requisitos</a>
          <a href="../../../assets/documentos/formulario_unico.pdf" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="formulario_unico.pdf">Formulario único</a>
          <a href="../../../assets/documentos/notificacion_vecinos.pdf" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="notificacion_vecinos.pdf">Notificación vecinos</a>
          <a href="../../../assets/documentos/valla_amarilla.jpg" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="valla_amarilla.jpg">Valla amarilla</a>
          <a href="../../../assets/documentos/valla_blanca.jpg" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="valla_blanca.jpg">Valla blanca</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="Rocupa" tabindex="-1" role="dialog">
  <div class="modal-sm modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Certificado ocupación de vivienda</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="list-group">
          <a href="../../../assets/documentos/requisitos_ocupacion.jpg" class="list-group-item list-group-item-action list-group-item-light" target="_blank" download="requisitos_ocupacion.jpg">Requisitos</a>
        </div>
      </div>
    </div>
  </div>
</div>









<!--<div class="row d-md-flex justify-content-md-center d-flex justify-content-center align-items-center">
  <div class="col-12 col-md-9 col-lg-9 text-center">
    <div class="row d-md-flex justify-content-md-center d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-4 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-md-6  d-md-flex justify-content-md-center d-flex justify-content-center align-items-center">
                <div class="col-md-12">
                  <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                    <img src="../../../assets/images/casa.svg">
                  </div>
                  <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                    <h2 class="card-title text-center">Construcción</h2>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 d-md-flex justify-content-md-center d-flex justify-content-center">
                <div class="d-grid gap-2 col-md-12 col-12 mx-auto">
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Requisitos</button>
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Formulario único</button>
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Notificación</button>
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Valla amrailla</button>
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Valla blanca</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-12 col-md-4 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-md-6 d-md-flex justify-content-md-center d-flex justify-content-center align-items-center">
                <div class="col-md-12">
                  <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                    <img src="../../../assets/images/casa.svg">
                  </div>
                  <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                    <h2 class="card-title text-center">Reconocimiento Construcción</h2>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 d-md-flex justify-content-md-center d-flex justify-content-center">
                <div class="d-grid gap-2 col-md-12 col-12 mx-auto">
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Requisitos</button>
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Formulario único</button>
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Peritaje</button>
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Valla amrailla</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="col-12 col-md-4 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-md-6 d-md-flex justify-content-md-center d-flex justify-content-center align-items-center">
                <div class="col-md-12">
                  <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                    <img src="../../../assets/images/casa.svg">
                  </div>
                  <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                    <h2 class="card-title text-center">Subdivisión urbana</h2>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 d-md-flex justify-content-md-center d-flex justify-content-center">
                <div class="d-grid gap-2 col-md-12 col-12 mx-auto">
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Requisitos</button>
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Formulario único</button>
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Valla amrailla</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-md-6 d-md-flex justify-content-md-center d-flex justify-content-center align-items-center">
                <div class="col-md-12">
                  <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                    <img src="../../../assets/images/casa.svg">
                  </div>
                  <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                    <h2 class="card-title text-center">Subdivisión rural</h2>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 d-md-flex justify-content-md-center d-flex justify-content-center">
                <div class="d-grid gap-2 col-md-12 col-12 mx-auto">
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Requisitos</button>
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Formulario único</button>
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Valla amrailla</button>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-md-6 d-md-flex justify-content-md-center d-flex justify-content-center align-items-center">
                <div class="col-md-12">
                  <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                    <img src="../../../assets/images/casa.svg">
                  </div>
                  <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                    <h2 class="card-title text-center">Propiedad horizontal</h2>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 d-md-flex justify-content-md-center d-flex justify-content-center">
                <div class="d-grid gap-2 col-md-12 col-12 mx-auto">
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Requisitos</button>
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Formulario único</button>
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Notificación</button>
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Valla amrailla</button>
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Valla blanca</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-md-6 d-md-flex justify-content-md-center d-flex justify-content-center align-items-center">
                <div class="col-md-12">
                  <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                    <img src="../../../assets/images/casa.svg">
                  </div>
                  <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                    <h2 class="card-title text-center">Reloteo</h2>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 d-md-flex justify-content-md-center d-flex justify-content-center">
                <div class="d-grid gap-2 col-md-12 col-12 mx-auto">
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Requisitos</button>
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Formulario único</button>
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Notificación</button>
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Valla amrailla</button>
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Valla blanca</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-md-6 d-md-flex justify-content-md-center d-flex justify-content-center align-items-center">
                <div class="col-md-12">
                  <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                    <img src="../../../assets/images/casa.svg">
                  </div>
                  <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                    <h2 class="card-title text-center">Urbanismo</h2>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 d-md-flex justify-content-md-center d-flex justify-content-center">
                <div class="d-grid gap-2 col-md-12 col-12 mx-auto">
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Requisitos</button>
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Formulario único</button>
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Notificación</button>
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Valla amrailla</button>
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Valla blanca</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-12 col-md-6 d-md-flex justify-content-md-center d-flex justify-content-center align-items-center">
                <div class="col-md-12">
                  <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                    <img src="../../../assets/images/casa.svg">
                  </div>
                  <div class="col-md-12 d-md-flex justify-content-md-center d-flex justify-content-center">
                    <h2 class="card-title text-center">Parcelación</h2>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 d-md-flex justify-content-md-center d-flex justify-content-center">
                <div class="d-grid gap-2 col-md-12 col-12 mx-auto">
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Requisitos</button>
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Formulario único</button>
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Notificación</button>
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Valla amrailla</button>
                  <button type="button" class="btn btn-lg btn-primary" (click)="MiPerfil()"> Valla blanca</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>




    </div>
  </div>
</div>-->
